CDC with HPE Data Fabric.json
{"flowContents":{"identifier":"4438f5d1-4f7c-3710-b3c8-963c18279f96","instanceIdentifier":"2d770b40-0198-1000-88fd-ec79460d3da4","name":"CDC with HPE Data Fabric","comments":"","position":{"x":369.0,"y":104.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"c6670f46-5b51-3841-a5ae-ee21d6266c02","instanceIdentifier":"71ff4884-c361-38f4-6dd4-b5be852fb38e","name":"PutS3Object","comments":"","position":{"x":-440.0,"y":640.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.28.0.0-eep-940"},"properties":{"Proxy Host":null,"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":"https://127.0.0.1:9000/","Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","Content Type":null,"Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","encryption-service":null,"Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"staging/users/${filename}.parquet","AWS Credentials Provider service":null,"Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"demobk","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"false","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Credentials File":"/home/mapr/.aws/credentials","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"proxy-user-name":null,"Proxy Host Port":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#dfd6e3"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4438f5d1-4f7c-3710-b3c8-963c18279f96"},{"identifier":"5a117872-1252-3508-b20a-900220001ac8","instanceIdentifier":"94ebcafb-404b-33d3-cfa4-71bc1ca88a53","name":"CaptureChangeMySQL","comments":"","position":{"x":-608.0,"y":-224.0},"type":"org.apache.nifi.cdc.mysql.processors.CaptureChangeMySQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-cdc-mysql-nar","version":"1.28.0"},"properties":{"capture-change-mysql-include-ddl-events":"false","capture-change-mysql-db-name-pattern":"demodb","capture-change-mysql-dist-map-cache-client":"39a377b3-77d9-35b1-8c1a-a1fff534b606","capture-change-mysql-init-seq-id":null,"capture-change-mysql-name-pattern":"users","capture-change-mysql-driver-class":"com.mysql.jdbc.Driver","capture-change-mysql-driver-locations":"/usr/share/java/mysql-connector-java-9.3.0.jar","SSL Mode":"DISABLED","number-of-events-per-flowfile":"1","capture-change-mysql-include-begin-commit":"false","capture-change-mysql-server-id":null,"capture-change-mysql-init-binlog-filename":null,"capture-change-mysql-init-binlog-position":null,"capture-change-mysql-init-gtid":null,"capture-change-mysql-hosts":"localhost:3306","capture-change-mysql-username":"root","capture-change-mysql-retrieve-all-records":"true","SSL Context Service":null,"capture-change-mysql-state-update-interval":"0 seconds","capture-change-mysql-use-gtid":"false","capture-change-mysql-max-wait-time":"30 seconds","events-per-flowfile-strategy":"MAX_EVENTS_PER_FLOWFILE"},"propertyDescriptors":{"capture-change-mysql-include-ddl-events":{"name":"capture-change-mysql-include-ddl-events","displayName":"Include DDL Events","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-db-name-pattern":{"name":"capture-change-mysql-db-name-pattern","displayName":"Database/Schema Name Pattern","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-dist-map-cache-client":{"name":"capture-change-mysql-dist-map-cache-client","displayName":"Distributed Map Cache Client - unused","identifiesControllerService":true,"sensitive":false},"capture-change-mysql-init-seq-id":{"name":"capture-change-mysql-init-seq-id","displayName":"Initial Sequence ID","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-name-pattern":{"name":"capture-change-mysql-name-pattern","displayName":"Table Name Pattern","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-driver-class":{"name":"capture-change-mysql-driver-class","displayName":"MySQL Driver Class Name","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-driver-locations":{"name":"capture-change-mysql-driver-locations","displayName":"MySQL Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY","URL"]}},"SSL Mode":{"name":"SSL Mode","displayName":"SSL Mode","identifiesControllerService":false,"sensitive":false},"number-of-events-per-flowfile":{"name":"number-of-events-per-flowfile","displayName":"Events Per FlowFile","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-include-begin-commit":{"name":"capture-change-mysql-include-begin-commit","displayName":"Include Begin/Commit Events","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-server-id":{"name":"capture-change-mysql-server-id","displayName":"Server ID","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-init-binlog-filename":{"name":"capture-change-mysql-init-binlog-filename","displayName":"Initial Binlog Filename","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-init-binlog-position":{"name":"capture-change-mysql-init-binlog-position","displayName":"Initial Binlog Position","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-init-gtid":{"name":"capture-change-mysql-init-gtid","displayName":"Initial Binlog GTID","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-hosts":{"name":"capture-change-mysql-hosts","displayName":"MySQL Nodes","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-username":{"name":"capture-change-mysql-username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-retrieve-all-records":{"name":"capture-change-mysql-retrieve-all-records","displayName":"Retrieve All Records","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"capture-change-mysql-state-update-interval":{"name":"capture-change-mysql-state-update-interval","displayName":"State Update Interval","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-use-gtid":{"name":"capture-change-mysql-use-gtid","displayName":"Use Binlog GTID","identifiesControllerService":false,"sensitive":false},"capture-change-mysql-password":{"name":"capture-change-mysql-password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"capture-change-mysql-max-wait-time":{"name":"capture-change-mysql-max-wait-time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"events-per-flowfile-strategy":{"name":"events-per-flowfile-strategy","displayName":"Event Processing Strategy","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#48e073"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4438f5d1-4f7c-3710-b3c8-963c18279f96"},{"identifier":"90a67f0a-cc48-3841-bcab-16118a3d99ed","instanceIdentifier":"f33bd2c9-e647-3bdb-5c45-7e375d8d3b4c","name":"Log Failed","comments":"","position":{"x":328.0,"y":1000.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0.0-eep-940"},"properties":{"Log prefix":"FAILED","character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#12c9bd"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4438f5d1-4f7c-3710-b3c8-963c18279f96"},{"identifier":"8a08fdaf-4f9a-367b-96b5-edbeb5de37cd","instanceIdentifier":"3e7b7cea-d0d0-32fa-3ff9-c4659a0e6ef0","name":"JoltTransformJSON","comments":"","position":{"x":456.0,"y":-232.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0.0-eep-940"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"columns\": {\n        \"*\": {\n          \"@(value)\": \"[#1].@(1,name)\"\n        }\n      }\n    }\n  }\n]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"Max String Length":"20 MB","pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4438f5d1-4f7c-3710-b3c8-963c18279f96"},{"identifier":"69fd29b3-9c87-3163-8107-9d86f885a841","instanceIdentifier":"56f4f2de-db5e-3e22-8941-3eb212aab643","name":"ConvertRecord","comments":"","position":{"x":-440.0,"y":96.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0.0-eep-940"},"properties":{"record-writer":"ae98c4bf-6596-3b89-8a33-b2b0f9169dba","record-reader":"e2fdbfed-ff74-3a8e-8be5-ee0f47908bcf","include-zero-record-flowfiles":"false"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#e6e68a"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4438f5d1-4f7c-3710-b3c8-963c18279f96"},{"identifier":"d8945499-ea35-30de-9ef5-e9ca4f18ab9c","instanceIdentifier":"3fe2e672-dbda-35fe-9a0c-7be77066ad1c","name":"Log Complete","comments":"","position":{"x":-240.0,"y":1000.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0.0-eep-940"},"properties":{"Log prefix":"DONE","character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#12c9bd"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4438f5d1-4f7c-3710-b3c8-963c18279f96"},{"identifier":"49b55343-77ea-3bc5-a9b7-3b9eb3637a8e","instanceIdentifier":"cb585ca8-f3da-3fb4-3bed-6727e0abd181","name":"ConvertToIceberg","comments":"","position":{"x":-440.0,"y":352.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0.0-eep-940"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Output MIME Type":null,"Working Directory":"/app","Command Path":"/app/invoke-pyspark.sh","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"true","Command Arguments":null},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4438f5d1-4f7c-3710-b3c8-963c18279f96"},{"identifier":"53c98af0-d994-30d9-a9c9-8198feb5f371","instanceIdentifier":"959bd129-5d85-3405-12ee-906428dad2cf","name":"PutHDFS","comments":"","position":{"x":688.0,"y":640.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.28.0.0-eep-940"},"properties":{"Permissions umask":null,"Hadoop Configuration Resources":null,"Remote Owner":null,"Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"Block Size":null,"kerberos-credentials-service":null,"Kerberos Keytab":null,"Ignore Locality":"false","Kerberos Principal":null,"Replication":null,"kerberos-user-service":null,"Append Mode":"DEFAULT","writing-strategy":"writeAndRename","Kerberos Relogin Period":"4 hours","Directory":"maprfs:///user/mapr/users","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"Append Mode":{"name":"Append Mode","displayName":"Append Mode","identifiesControllerService":false,"sensitive":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4438f5d1-4f7c-3710-b3c8-963c18279f96"},{"identifier":"72ecf330-0fbe-3840-8201-68364ba4e531","instanceIdentifier":"ecf6966e-8925-3711-14d2-776b806d24ba","name":"RouteOnAttribute","comments":"","position":{"x":-56.0,"y":-224.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0.0-eep-940"},"properties":{"Routing Strategy":"Route to Property name","insert":"${cdc.event.type:equals('insert')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"insert":{"name":"insert","displayName":"insert","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4438f5d1-4f7c-3710-b3c8-963c18279f96"},{"identifier":"ea58df55-dd76-3b48-a89d-6170b86fd97a","instanceIdentifier":"e10361cd-7737-3f0b-9b4f-44f100cbd1bc","name":"UpdateAttribute","comments":"","position":{"x":696.0,"y":352.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.28.0.0-eep-940"},"properties":{"Delete Attributes Expression":null,"filename":"${filename}.json","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4438f5d1-4f7c-3710-b3c8-963c18279f96"},{"identifier":"9829aeb0-744b-38b5-94b7-c4eafb9d634b","instanceIdentifier":"033221a0-9671-3c3b-daf0-92a366e6930a","name":"SplitJson","comments":"","position":{"x":488.0,"y":96.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0.0-eep-940"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"4438f5d1-4f7c-3710-b3c8-963c18279f96"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"972b6f0d-efc1-31a1-a4da-311f9a72f0da","instanceIdentifier":"1bb3dc10-a422-393b-6694-980049c64365","name":"","source":{"id":"9829aeb0-744b-38b5-94b7-c4eafb9d634b","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"SplitJson","comments":"","instanceIdentifier":"033221a0-9671-3c3b-daf0-92a366e6930a"},"destination":{"id":"d8945499-ea35-30de-9ef5-e9ca4f18ab9c","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"Log Complete","comments":"","instanceIdentifier":"3fe2e672-dbda-35fe-9a0c-7be77066ad1c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4438f5d1-4f7c-3710-b3c8-963c18279f96"},{"identifier":"a58f44bb-5a13-3761-aa3d-291271003ddb","instanceIdentifier":"db3a35fc-8fc6-3465-cb2f-8f8620d5d568","name":"","source":{"id":"9829aeb0-744b-38b5-94b7-c4eafb9d634b","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"SplitJson","comments":"","instanceIdentifier":"033221a0-9671-3c3b-daf0-92a366e6930a"},"destination":{"id":"ea58df55-dd76-3b48-a89d-6170b86fd97a","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"UpdateAttribute","comments":"","instanceIdentifier":"e10361cd-7737-3f0b-9b4f-44f100cbd1bc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4438f5d1-4f7c-3710-b3c8-963c18279f96"},{"identifier":"f317f377-3807-345b-9426-fc93b6cf9520","instanceIdentifier":"b9bb1450-29c5-3c60-ec56-762145b483e2","name":"","source":{"id":"72ecf330-0fbe-3840-8201-68364ba4e531","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"RouteOnAttribute","comments":"","instanceIdentifier":"ecf6966e-8925-3711-14d2-776b806d24ba"},"destination":{"id":"90a67f0a-cc48-3841-bcab-16118a3d99ed","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"Log Failed","comments":"","instanceIdentifier":"f33bd2c9-e647-3bdb-5c45-7e375d8d3b4c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4438f5d1-4f7c-3710-b3c8-963c18279f96"},{"identifier":"116ac9eb-e8b2-348a-bd6c-59af7f3e3241","instanceIdentifier":"b9032f61-4868-3e11-10be-15bd7674ab86","name":"","source":{"id":"8a08fdaf-4f9a-367b-96b5-edbeb5de37cd","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"JoltTransformJSON","comments":"","instanceIdentifier":"3e7b7cea-d0d0-32fa-3ff9-c4659a0e6ef0"},"destination":{"id":"90a67f0a-cc48-3841-bcab-16118a3d99ed","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"Log Failed","comments":"","instanceIdentifier":"f33bd2c9-e647-3bdb-5c45-7e375d8d3b4c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4438f5d1-4f7c-3710-b3c8-963c18279f96"},{"identifier":"03579b64-2595-3065-8523-83a126e08560","instanceIdentifier":"7020d1a4-14d4-39de-7a43-7dc77ca435a6","name":"","source":{"id":"69fd29b3-9c87-3163-8107-9d86f885a841","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"ConvertRecord","comments":"","instanceIdentifier":"56f4f2de-db5e-3e22-8941-3eb212aab643"},"destination":{"id":"c6670f46-5b51-3841-a5ae-ee21d6266c02","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"PutS3Object","comments":"","instanceIdentifier":"71ff4884-c361-38f4-6dd4-b5be852fb38e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4438f5d1-4f7c-3710-b3c8-963c18279f96"},{"identifier":"1298bf6e-89b2-3511-aea9-b8831bb6b017","instanceIdentifier":"0d1f2311-8e64-3bf1-b73e-042a8d98f163","name":"","source":{"id":"c6670f46-5b51-3841-a5ae-ee21d6266c02","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"PutS3Object","comments":"","instanceIdentifier":"71ff4884-c361-38f4-6dd4-b5be852fb38e"},"destination":{"id":"49b55343-77ea-3bc5-a9b7-3b9eb3637a8e","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"ConvertToIceberg","comments":"","instanceIdentifier":"cb585ca8-f3da-3fb4-3bed-6727e0abd181"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4438f5d1-4f7c-3710-b3c8-963c18279f96"},{"identifier":"d360173f-a742-3ab4-8f67-d37812f7ed50","instanceIdentifier":"671bf988-204e-3cfa-a15f-6f79d63c9fa9","name":"","source":{"id":"c6670f46-5b51-3841-a5ae-ee21d6266c02","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"PutS3Object","comments":"","instanceIdentifier":"71ff4884-c361-38f4-6dd4-b5be852fb38e"},"destination":{"id":"90a67f0a-cc48-3841-bcab-16118a3d99ed","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"Log Failed","comments":"","instanceIdentifier":"f33bd2c9-e647-3bdb-5c45-7e375d8d3b4c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4438f5d1-4f7c-3710-b3c8-963c18279f96"},{"identifier":"005b9371-c36f-3cc5-bf4a-0d0ef9ba2e63","instanceIdentifier":"23a42fca-bd92-3115-e20a-8311ed876f98","name":"","source":{"id":"53c98af0-d994-30d9-a9c9-8198feb5f371","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"PutHDFS","comments":"","instanceIdentifier":"959bd129-5d85-3405-12ee-906428dad2cf"},"destination":{"id":"d8945499-ea35-30de-9ef5-e9ca4f18ab9c","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"Log Complete","comments":"","instanceIdentifier":"3fe2e672-dbda-35fe-9a0c-7be77066ad1c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4438f5d1-4f7c-3710-b3c8-963c18279f96"},{"identifier":"d8818adf-593d-30ff-b31a-d28f76760086","instanceIdentifier":"76ba3631-8bb0-3d76-4dcf-77fc9b8215cf","name":"","source":{"id":"ea58df55-dd76-3b48-a89d-6170b86fd97a","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"UpdateAttribute","comments":"","instanceIdentifier":"e10361cd-7737-3f0b-9b4f-44f100cbd1bc"},"destination":{"id":"53c98af0-d994-30d9-a9c9-8198feb5f371","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"PutHDFS","comments":"","instanceIdentifier":"959bd129-5d85-3405-12ee-906428dad2cf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4438f5d1-4f7c-3710-b3c8-963c18279f96"},{"identifier":"c53f9b64-39ec-3743-ad31-4de43d215497","instanceIdentifier":"fcae81f8-44d7-3c7c-1689-bc7c630e8b89","name":"","source":{"id":"72ecf330-0fbe-3840-8201-68364ba4e531","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"RouteOnAttribute","comments":"","instanceIdentifier":"ecf6966e-8925-3711-14d2-776b806d24ba"},"destination":{"id":"8a08fdaf-4f9a-367b-96b5-edbeb5de37cd","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"JoltTransformJSON","comments":"","instanceIdentifier":"3e7b7cea-d0d0-32fa-3ff9-c4659a0e6ef0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["insert"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4438f5d1-4f7c-3710-b3c8-963c18279f96"},{"identifier":"2dbcd0cb-d885-376a-abc2-ad5e08bbde9d","instanceIdentifier":"26907d74-1ed6-3814-6faf-d0055590ae73","name":"","source":{"id":"8a08fdaf-4f9a-367b-96b5-edbeb5de37cd","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"JoltTransformJSON","comments":"","instanceIdentifier":"3e7b7cea-d0d0-32fa-3ff9-c4659a0e6ef0"},"destination":{"id":"9829aeb0-744b-38b5-94b7-c4eafb9d634b","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"SplitJson","comments":"","instanceIdentifier":"033221a0-9671-3c3b-daf0-92a366e6930a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4438f5d1-4f7c-3710-b3c8-963c18279f96"},{"identifier":"a34dccef-0abd-3ddd-bb72-972c0b23efb7","instanceIdentifier":"cca56b9b-7b69-3e7f-f3b3-0e6b8eafd1d3","name":"","source":{"id":"53c98af0-d994-30d9-a9c9-8198feb5f371","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"PutHDFS","comments":"","instanceIdentifier":"959bd129-5d85-3405-12ee-906428dad2cf"},"destination":{"id":"90a67f0a-cc48-3841-bcab-16118a3d99ed","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"Log Failed","comments":"","instanceIdentifier":"f33bd2c9-e647-3bdb-5c45-7e375d8d3b4c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4438f5d1-4f7c-3710-b3c8-963c18279f96"},{"identifier":"8dc8e047-cb4d-3650-8eac-56949069fc6e","instanceIdentifier":"d56e6ef8-08a0-3192-1841-c2e64fd1df1f","name":"","source":{"id":"69fd29b3-9c87-3163-8107-9d86f885a841","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"ConvertRecord","comments":"","instanceIdentifier":"56f4f2de-db5e-3e22-8941-3eb212aab643"},"destination":{"id":"69fd29b3-9c87-3163-8107-9d86f885a841","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"ConvertRecord","comments":"","instanceIdentifier":"56f4f2de-db5e-3e22-8941-3eb212aab643"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":28.709965025248493,"y":123.99166601906995},{"x":28.709965025248493,"y":173.99166601906995}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4438f5d1-4f7c-3710-b3c8-963c18279f96"},{"identifier":"63316427-d508-3d11-92f1-32a69b523598","instanceIdentifier":"e9bc0325-fbca-31b2-65b6-012b46c78eb3","name":"","source":{"id":"5a117872-1252-3508-b20a-900220001ac8","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"CaptureChangeMySQL","comments":"","instanceIdentifier":"94ebcafb-404b-33d3-cfa4-71bc1ca88a53"},"destination":{"id":"72ecf330-0fbe-3840-8201-68364ba4e531","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"RouteOnAttribute","comments":"","instanceIdentifier":"ecf6966e-8925-3711-14d2-776b806d24ba"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4438f5d1-4f7c-3710-b3c8-963c18279f96"},{"identifier":"ee6d5398-e6d1-3c7d-82e6-b33cfad08ec1","instanceIdentifier":"f97e11a2-7de5-3037-bf4e-cc9b843db85c","name":"","source":{"id":"c6670f46-5b51-3841-a5ae-ee21d6266c02","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"PutS3Object","comments":"","instanceIdentifier":"71ff4884-c361-38f4-6dd4-b5be852fb38e"},"destination":{"id":"d8945499-ea35-30de-9ef5-e9ca4f18ab9c","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"Log Complete","comments":"","instanceIdentifier":"3fe2e672-dbda-35fe-9a0c-7be77066ad1c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4438f5d1-4f7c-3710-b3c8-963c18279f96"},{"identifier":"ab55af90-5838-353b-9f1a-9772569311b2","instanceIdentifier":"b17833b0-9194-3057-11b8-45d38a4250f7","name":"","source":{"id":"49b55343-77ea-3bc5-a9b7-3b9eb3637a8e","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"ConvertToIceberg","comments":"","instanceIdentifier":"cb585ca8-f3da-3fb4-3bed-6727e0abd181"},"destination":{"id":"90a67f0a-cc48-3841-bcab-16118a3d99ed","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"Log Failed","comments":"","instanceIdentifier":"f33bd2c9-e647-3bdb-5c45-7e375d8d3b4c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4438f5d1-4f7c-3710-b3c8-963c18279f96"},{"identifier":"603041e9-1ba0-3560-b68e-8989e226ff94","instanceIdentifier":"fff66a37-b3e2-354e-3506-d1e1fe097dac","name":"","source":{"id":"49b55343-77ea-3bc5-a9b7-3b9eb3637a8e","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"ConvertToIceberg","comments":"","instanceIdentifier":"cb585ca8-f3da-3fb4-3bed-6727e0abd181"},"destination":{"id":"d8945499-ea35-30de-9ef5-e9ca4f18ab9c","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"Log Complete","comments":"","instanceIdentifier":"3fe2e672-dbda-35fe-9a0c-7be77066ad1c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4438f5d1-4f7c-3710-b3c8-963c18279f96"},{"identifier":"3c22acf7-bc40-3a67-9b1d-7a16aaec3fe1","instanceIdentifier":"cd4d3faa-74fa-3731-2e1c-871429354747","name":"","source":{"id":"8a08fdaf-4f9a-367b-96b5-edbeb5de37cd","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"JoltTransformJSON","comments":"","instanceIdentifier":"3e7b7cea-d0d0-32fa-3ff9-c4659a0e6ef0"},"destination":{"id":"69fd29b3-9c87-3163-8107-9d86f885a841","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"ConvertRecord","comments":"","instanceIdentifier":"56f4f2de-db5e-3e22-8941-3eb212aab643"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4438f5d1-4f7c-3710-b3c8-963c18279f96"},{"identifier":"fd6f4a21-e1d8-3fdc-9bc1-493f012f9a50","instanceIdentifier":"542d6032-39dd-31ab-2453-1608ff9988d8","name":"","source":{"id":"9829aeb0-744b-38b5-94b7-c4eafb9d634b","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"SplitJson","comments":"","instanceIdentifier":"033221a0-9671-3c3b-daf0-92a366e6930a"},"destination":{"id":"90a67f0a-cc48-3841-bcab-16118a3d99ed","type":"PROCESSOR","groupId":"4438f5d1-4f7c-3710-b3c8-963c18279f96","name":"Log Failed","comments":"","instanceIdentifier":"f33bd2c9-e647-3bdb-5c45-7e375d8d3b4c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4438f5d1-4f7c-3710-b3c8-963c18279f96"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"39a377b3-77d9-35b1-8c1a-a1fff534b606","instanceIdentifier":"34f57b2c-57a0-36e3-8a93-307f19bd7186","name":"CDC MapCache","comments":"","type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"1.28.0.0-eep-940"},"properties":{"SSL Context Service":null,"Server Port":"4557","Server Hostname":"localhost","Communications Timeout":"30 secs"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Server Port":{"name":"Server Port","displayName":"Server Port","identifiesControllerService":false,"sensitive":false},"Server Hostname":{"name":"Server Hostname","displayName":"Server Hostname","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.0.0-eep-940"}},{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.0.0-eep-940"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4438f5d1-4f7c-3710-b3c8-963c18279f96"},{"identifier":"e2fdbfed-ff74-3a8e-8be5-ee0f47908bcf","instanceIdentifier":"bd29baa3-507b-3fe0-fed7-8f4ffc02df8c","name":"JsonTreeReader","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.0.0-eep-940"},"properties":{"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.0.0-eep-940"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4438f5d1-4f7c-3710-b3c8-963c18279f96"},{"identifier":"ae98c4bf-6596-3b89-8a33-b2b0f9169dba","instanceIdentifier":"2fd3f19b-7702-3b8d-ea9a-c63f217b7920","name":"ParquetRecordSetWriter","comments":"","type":"org.apache.nifi.parquet.ParquetRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-parquet-nar","version":"1.28.0.0-eep-940"},"properties":{"schema-branch":null,"max-padding-size":null,"avro-write-old-list-structure":"true","row-group-size":null,"schema-cache":null,"enable-dictionary-encoding":null,"Schema Write Strategy":"no-schema","page-size":null,"writer-version":null,"compression-type":"UNCOMPRESSED","schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"enable-validation":null,"dictionary-page-size":null,"int96-fields":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}","avro-add-list-element-records":"true"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"max-padding-size":{"name":"max-padding-size","displayName":"Max Padding Size","identifiesControllerService":false,"sensitive":false},"avro-write-old-list-structure":{"name":"avro-write-old-list-structure","displayName":"Avro Write Old List Structure","identifiesControllerService":false,"sensitive":false},"row-group-size":{"name":"row-group-size","displayName":"Row Group Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"enable-dictionary-encoding":{"name":"enable-dictionary-encoding","displayName":"Enable Dictionary Encoding","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"page-size":{"name":"page-size","displayName":"Page Size","identifiesControllerService":false,"sensitive":false},"writer-version":{"name":"writer-version","displayName":"Writer Version","identifiesControllerService":false,"sensitive":false},"compression-type":{"name":"compression-type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"enable-validation":{"name":"enable-validation","displayName":"Enable Validation","identifiesControllerService":false,"sensitive":false},"dictionary-page-size":{"name":"dictionary-page-size","displayName":"Dictionary Page Size","identifiesControllerService":false,"sensitive":false},"int96-fields":{"name":"int96-fields","displayName":"INT96 Fields","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"avro-add-list-element-records":{"name":"avro-add-list-element-records","displayName":"Avro Add List Element Records","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.0.0-eep-940"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4438f5d1-4f7c-3710-b3c8-963c18279f96"},{"identifier":"5f447043-3152-3151-ac9f-47b57ee8e9cc","instanceIdentifier":"7ced8129-8db0-337a-a628-e5b50914c7a9","name":"EEP_HbaseMaprDbClientService","comments":"","type":"org.apache.nifi.hbase.mapr.EEP_HbaseMaprDbClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-hbase-mapr_1-client-service-nar","version":"1.28.0.0-eep-940"},"properties":{},"propertyDescriptors":{},"controllerServiceApis":[{"type":"org.apache.nifi.hbase.HBaseClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.0.0-eep-940"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"4438f5d1-4f7c-3710-b3c8-963c18279f96"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}